footer{

    background-color: bisque;

}
.enlace{
    border: 2px,solid,white;
    background-color: white;
    padding: 5px;
}
h3, .colorTextRosa{
    color: rgb(255, 96, 255);
}

.titulo, .problemas{
    color: white;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

